@import "tailwindcss";

@layer base {
  :root {
    --chart-mono-1: hsl(0 0% 91%);
    --chart-mono-2: hsl(0 0% 82%);
    --chart-mono-3: hsl(0 0% 73%);
    --chart-mono-4: hsl(0 0% 64%);
    --chart-mono-5: hsl(0 0% 55%);
  }
}
